.logo_name {
  width: 151px;
  color: #f65261;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo_netflix {
  color: #f65261;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
